@desktop: 1200px;
@tablet: 768px;
@mobile: 380px;
@block-padding: 0 20px;

@title-color: #5c6b61;
@subtitle-color: #767f79;
@text-color: #666867;
@main-font: 'Montserrat', sans-serif;
@brand-font: 'Marck Script', cursive;
@links-hover: #ff8820;

@bg: #e2e2e2;

html, body {
    height: 100%;
}
body {
    font-family: @main-font;
}
h1 {
    font-size: 32px;
    line-height: 32px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin: 30px 15px;
}
h2 {
    font-size: 27px;
    line-height: 27px;
    color: @subtitle-color;
    text-align: center;
    margin: 15px 0;
}
h3 {
    font-size: 22px;
    line-height: 22px;
    color: @subtitle-color;
    text-align: center;
    margin: 10px 0;
}
p, li, a, 
.postSingle__text {
    font-size: 16px;
    line-height: 22px;
    color: @text-color;
}
p {
    text-align: justify;
}
a {
    text-decoration: none;
    &:hover {
        color: @links-hover;
    }
}
input[type=text] {
    width: 85%;
    height: 40px;
    font-size: 17px;
    margin: 4px auto;
    padding: 0 5%;
    display: block;
    font-family: @main-font;
    border: 1px solid #cbc9c9;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
textarea {
    width: 85%;
    font-family: @main-font;
    font-size: 17px;
    margin: 4px auto;
    padding: 10px 5%;
    display: block;
    resize: none;
    border: 1px solid #cbc9c9;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.active {
    background: @links-hover;
    padding: 5px;
    border-radius: 3px;
}
.activeBlock {
    color: @links-hover;
}
.btnBlock {
    text-align: center;
}
.btn {
    background: transparent;
    color: @links-hover;
    font-weight: bold;
    padding: 10px;
    margin: 15px auto;
    display: inline-block;
    min-width: 140px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease;
    border: 2px solid @links-hover;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
        color: #fff;
        background: @links-hover;
    }
}
.bold {
    font-weight: 500;
}
.list {
    line-height: 30px;
}
.center {
    text-align: center;
}
.hidden {
    display: none;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 1920px;
    min-height: 850px;
    margin: 0 auto;
}
.mainBg {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 18%;
}
.pageBg {
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    position: relative;
}
#topLine { 
    text-align: center;
}
.brandName {
    font-family: @brand-font;
    color: #fff;
    margin: 20px;
    font-size: 30px;
    display: inline-block;
}
#menu {
    display: block;
    #menuLinks {
        text-align: center;
        margin: 0 0 20px;
    };
    li {
        display: inline-block;
        a {
            color: #fff;
            text-transform: uppercase;
            margin: 0 20px;
            transition: all 0.1s ease;
            border-radius: 3px;
            &:hover {
                border: 1px solid @links-hover;
                padding: 5px;
                border-radius: 3px;
            }
        };
    };
    
}
#mobile {
    display: none;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}
#menuMobile {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 100;
    display: none;
    & li {
        padding: 10px 10px 0 10px;
        background: rgba(0,0,0,0.95);
        list-style-type: none;
        &:last-child {
            padding-bottom: 10px;
        }
        & a {
            display: block;
            padding: 5px;
            text-align: center;
            color: #fff;
            text-transform: uppercase;
        }
    }
}
#burger {
    display: none;
    &:checked {
        + .label {
            background: url(../img/close_menu.png);
        }
        ~ #menuMobile {
            display: block;
        }
    }
}
.label {
    color: #fff;
    background: url(../img/mobile_menu.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
main {
    flex: 1 0 auto;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.consultationsTypes {
    max-width: 100%;
    display: flex;
}
.consultationsTypesItem {
    max-width: 25%;
}
.consultationsTypesItem {
    max-height: 600px;
    img {
        width: 100%;
        height: 100%;
        &:hover {
        }
    }
}
.aboutMe {
    max-width: 500px;
    display: flex;
    justify-content: center;
    margin: 30px;
    & h2 {
        color: #fff;
    }
    & h3 {
        color: #fff;
    }
    & p {
        color: #fff;
        text-align: center!important;
    }
}
.social {
    text-align: center;
    padding: 20px 15px 0px;
    & img {
        width: 30px;
    }
}
#services {
    padding: @block-padding;
}
.why {
    &__img {
        width: 160px;
        float: right;
    }
}
.workScheme {
    display: flex;
    justify-content: center;
    &__step {
        width: 400px;
        margin: 20px;
        &:first-child {
            margin-top: 0;
            &::before {
                content: url(../img/arrow-left.jpg);
                position: relative;
                top: 32px;
                left: 405px;
            }
        }
    }
    &__title {
        text-align: center;
        background: @title-color;
        color: #fff;
        padding: 10px;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        padding: 30px 10px;
        border-bottom: 1px solid @title-color;
        border-left: 1px solid @title-color;
        border-right: 1px solid @title-color; 
        position: relative;
        background: #fff;
    }
    &__desc {
        width: 46%;
        display: flex;
        align-items: center;
        & p {
            text-align: center;
        }
    }
    &__img {
        width: 54%;
        & img {
            width: 100%;
        }
    }
}
.withArrow {
    &::after,
    &::before {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    &::after {
        border-color: rgba(255, 255, 255, 0);
        border-top-color: #fff;
        border-width: 30px;
        margin-left: -30px;
    }
    &::before {
        border-color: rgba(92, 107, 97, 0);
        border-top-color: #5c6b61;
        border-width: 31px;
        margin-left: -31px;
    }
}
.priceList {
    display: flex;
    justify-content: center;
    border: 1px dotted @text-color;
    max-width: 600px;
    margin: 0 auto 30px;
    & div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        flex-direction: column;
    }
    &__type {
        & p {
            padding: 5px;
        }
    }
    &__time {
        border-left: 1px dotted @text-color;
        border-right: 1px dotted @text-color;
        & p {
            text-align: center;
        }
    }
    &__cost p {
        color: green;
    }
}

#blog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.post {
    display: flex;
    max-width: 290px;
    max-height: 200px;
    border: 1px solid #cecece;
    border-radius: 3px;
    margin: 5px;
    &:hover {
        border-color: @links-hover;
    }
    & a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__img {
        max-width: 100%;
        max-height: 100%;
        padding: 10px;
        overflow: auto;
    }
    &__title {
        max-width: 270px;
        text-transform: uppercase;
        font-size: 14px;
        text-align: center;
        padding: 5px;
    }
}
#post {
    padding: @block-padding;
}
.postSingle {
    &__img {
        float: left;
        max-width: 500px;
        margin: 10px 20px 10px 0;
        border-radius: 10px;
    }
    &__date {
        text-align: center;
        padding-bottom: 10px;
    }
    &__text {
        padding: 15px;
    }
}
#reviews {
    padding: @block-padding;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.reviews {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    height: 470px;
    margin: 15px 10px 30px;
    &__img {
        width: 100%;
        height: 100%;
    }
}
.audioReviews {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.videoReviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
        & iframe {
            padding: 15px;
        }
}
#contacts {
    padding: @block-padding;
    & p {
        text-align: center;
        border-bottom: 1px dotted;
        display: flex;
        align-items: center;
        padding: 10px;
    }
    & a {
        text-decoration: underline;
    }
    & img {
        padding-right: 10px;
    }
}
footer {
    flex: 0 0 auto;
    min-height: 120px;
    background: rgba(0, 0, 0, 0.95);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0;
    & p {
        color: #fff;
    }
    & a {
        color: #fff;
        text-decoration: underline;
    }
}
#modal, #modalQuestion {
    padding: 20px;
    max-width: 320px;
    margin: auto;
    position: relative;
    border-radius: 3px;
    background: #fff;
    & .btn {
        font-family: @main-font;
    }
}
.modalTitle {
    text-align: center;
    padding: 15px;
}
.confidentiality {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    position: relative;
    border-radius: 3px;
    background: #fff;
    &__title {
        display: block;
        text-align: center;
        font-weight: bold;
    }
    &__text {
        line-height: 20px;
        text-align: justify;
        display: block;
    }
}

/* Media */

@media (max-width: 900px) {
    .workScheme {
        flex-direction: column;
        align-items: center;
        &__step {
            &:first-child {
                margin-bottom: 0;
                &::before {
                    content: "";
                }
            }  
            &:last-child {
                margin-top: 0;
            }
        } 
    }
}
@media (max-width: @tablet) {
    #main {
        & h1 {
            margin: 80px 30px 30px;
            max-width: 420px;
            background: rgba(0, 0, 0, .7);
            font-weight: bold;
            border-radius: 6px;
            padding: 10px 0;
        }
    }
    .mainBg {
        background-position: 30% -116px
    }
    #menu {
        display: none;
    }
    #mobile {
        display: block;
    }
    .aboutMe {
        max-width: 100%;
        background: rgba(0, 0, 0, .7);
        border-radius: 6px;
    }
    .postSingle__img {
        max-width: 100%;
        float: none;
        margin: 0 auto;
        display: block;
    }
    .postSingle__text {
        text-align: justify;
        display: inline-block;
        padding: 15px 0;
    }
    .videoReviews {
        width: 100%;
        & iframe {
            width: 100%;
        }
    }
}
@media (max-width: 600px) {
    .workScheme__step {
        width: 100%;
    }
    .priceList div p {
        text-align: center;
    }
    .priceList__type {
        width: 60%!important;
    }
    .priceList__time {
        width: 20%!important;
    }
    .priceList__cost {
        width: 20%!important;
    }
}
@media (max-width: 480px) {
    #main {
        & h1 {
            font-size: 20px;
            max-width: 280px;
        }
    }
    .mainBg {
        background-position: 44% -127px;
    }
}
@media (max-width: @mobile) {
    h2 {
        font-size: 22px;
        line-height: 22px;
    }
    h3 {
        font-size: 20px;
    }
    p, li, a, 
    .postSingle__text {
        font-size: 14px;
        line-height: 20px;
    }
    #main h1 {
        margin: 0 15px 15px;
        max-width: 212px;
        font-size: 18px;
    }
    header {
        background: rgba(0, 0, 0, .7);
    }
    .aboutMe {
        margin: 15px;
    }
    .mainBg {
        background-position: 49% -136px;
    }
    .reviews {
        max-width: 100%;
    }
    .workScheme__desc p {
        font-size: 13px;
    }
}