@accent-color: #614157;
@hover-color: #715468;
@footer-color: #414245;
@text-color: #555;
@title-font: 'Montserrat', sans-serif;
@to-xl: 1200px;
@to-lg: 992px;
@to-md: 768px;
@to-sm: 576px;

//@text-color: #838383;

@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

h1, h2 {
    color: @footer-color;
    font-family: @title-font;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
h3 {
    font-size: 18px;
    font-weight: 700;
    color: #999;
    line-height: 28px;
    margin-top: 20px;
    text-transform: inherit;
    text-align: center;
}
a {
    outline: none;
    transition: all 0.5s ease;
}
p, ul li, td {
    color: @text-color;
    font-family: @title-font;
    font-size: 18px;
    line-height: 30px!important;
    font-weight: 400;
}
ul {
    margin: 0;
    padding: 0;
}
ul li, ol li {
    line-height: 1.5rem;
}
section {
    position: relative;
    & img {
        max-width: 100%;
    }
}
input[type=text] {
    width: 85%;
    height: 40px;
    font-size: 17px;
    margin: 4px auto;
    padding: 0 5%;
    display: block;
    font-family: @title-font;
    border: 1px solid #cbc9c9;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
textarea {
    width: 85%;
    font-family: @title-font;
    font-size: 17px;
    margin: 20px auto 5px;
    padding: 10px 5%;
    display: block;
    resize: none;
    border: 1px solid #cbc9c9;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

/* header */
.logo-bar {
    padding: 35px 0px;
    & a, span {
        color: #a5a6a8;
    }
    & .logo {
        & img {
            max-width: 260px;
        }
    }
}
.accent-bg {
    background-color: @accent-color;
}
.navigation {
    & ul {
        & li {
            transition: all 0.5s ease;
            &:hover {
                background-color: @hover-color;
            }
            & a {
                color: #fff;
                display: block;
                padding: 23px 17px;
                text-transform: uppercase;
                text-decoration: none;
                font-weight: 700;
                font-size: 13px;
                font-family: @title-font;
            }
        }
    }
    & .name {
        color: #fff;
        font-weight: bold;
        font-size: 19px;
        font-family: @title-font;
        padding: 19px 0px;
    }
    & .fa {
        color: #fff;
        padding: 26px 0 0 10px;
        font-size: 19px;
        cursor: pointer;
    }
    & .icons {
        & a, a:hover {
            text-decoration: none;
            outline: none;
        }
    }
}

/* offer */
#offer {
    background-image: url(../img/offer-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 180px 0px;
    & h1 {
        padding: 0 40px;
        text-align: left;
        font-size: 58px;
        line-height: 62px;
        color: #fff;
        text-shadow: 2px 2px 5px #000;
    }
    & h2 {
        color: @footer-color;
    }
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.1);
    }
    .btn {
        margin: 40px 0 0 40px;
        background-color: @footer-color;
        color: #fff;
        border-radius: 0;
        border: none;
        box-shadow: none;
        font-size: 14px;
        font-weight: 700;
        font-family: @title-font;
        text-transform: uppercase;
        padding: 20px;
        display: block;
        width: 280px;
        &:hover {
            background: darken(@footer-color, 2%);
        }
    }
}

/* aboutMe */
#aboutMe {
    padding: 80px 0px 0;
    text-align: center;
    & h2 {
        font-size: 36px;
        line-height: 46px;
    }
    & .description {
        p {
            margin-top: 25px;
            font-size: 18px;
            line-height: 30px;
        }
    }
}

/* problems */
#problems {
    padding: 80px 0;
    & img {
        height: 350px;
        margin: 0 auto;
        display: block; 
        border-radius: 5px;
    }
}

/* advantages */
#advantages {
    & img {
        width: 140px;
    }
    & .advantage {
        margin-top: 20px;
    }
    & a {
        font-family: @title-font;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
        margin: 20px 0;
    }
}

/* steps */
#steps {
    padding: 80px 0px 40px;
    & img {
        width: 140px;
    }
    & .step {
        margin-top: 20px;
        padding: 20px;
        border: 1px solid #c7c7c7;
        border-radius: 5px;
        background: @footer-color;
    }
    & ul {
        margin: -15px 0 40px;
        list-style: none;
    }
    & p, li {
        color: #fff;
    }
    & .green-text {
        color: #7ab55c;
    }
    & .desc {
        color: @text-color;
        padding: 30px 15px;
    }
}

/* order-now */
#order-now {
    padding: 80px 0px;
    background: @accent-color;
    padding: 45px 0px;
    border-bottom: none;
    & h2 {
        color: #fff;
        line-height: 46px;
    }
    & .btn-container {
        text-align: right;
    }
    & a {
        display: inline-block;
        margin-bottom: 5px;
        background-color: #fff;
        color: @footer-color;
        border-radius: 0;
        border: none;
        box-shadow: none;
        font-size: 14px;
        font-weight: 700;
        font-family: @title-font;
        text-transform: uppercase;
        padding: 20px 50px;
        text-decoration: none;
    }
}

/* faq */
#faq {
    padding: 80px 0px;
    & .btn-link, .card-body {
        font-family: @title-font;
        font-size: 18px;
        line-height: 30px!important;
    }
    & .btn-link {
        white-space: normal;
    }
    & .card-body {
        color: @text-color;
    }
}

/* footer */
footer {
    background: @footer-color;
    & .social-block {
        width: 100%;
        display: flex;
        flex-direction: row;
        & .social {
            width: calc(100%/3);
            & a {
                color: #fff;
                display: block;
                padding-top: 40px;
                padding-bottom: 40px;
                font-size: 30px;
                text-align: center;
            }
        } 
        & .social:nth-child(1),
          .social:nth-child(3) {
            transition: all 0.5s ease;
            background: @accent-color;
            &:hover {
                background: #816779;  
            }
        }
        & .social:nth-child(2) {
            background: @hover-color;
        }
    }
    & .contacts {
        padding: 80px 0px;
        & > div {
            width: 100%;
        }
        & .logo {
            & img {
                max-width: 250px;
            }
        }
        & p {
            color: #8b8c8d;
            font-weight: 500;
            margin-top: 25px;
        }
    }
}

/* blog */
#blog {
    padding: 80px 0;
    & .grid {
        margin: 0;
        padding: 0;
        & figure {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            min-width: 275px;
            min-height: 300px;
            border: 1px solid #fff;
            & img {
                opacity: 0.7;
            }
        }
        & h2, p {
            color: #fff;
        }
        & h2 {
            margin: 10% 0 10px 0
        }
        & p {
            line-height: 20px!important;
            padding: 0;
        }
    }
}

/* post */
#post {
    padding: 80px 0;
    font-family: @title-font;
    color: @text-color;
    & strong {
        font-weight: bold;
    }
    & .btn {
        margin-top: 15px;
        background-color: #414245;
        color: #fff;
        border-radius: 0;
        border: none;
        box-shadow: none;
        font-size: 14px;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        padding: 20px 50px;
        &:hover {
            background: darken(@footer-color, 2%);
        }
    }
    & p {
        padding: 0 15px;
    }
}

/* reviews */
#reviews {
    padding: 80px 0;
    & audio, iframe, .popup-gallery img {
        width: 100%;
    }
    & .popup-gallery {
        & .col {
            padding: 5px;
            & img {
                max-height: 135px;
                max-width: 150px;
                min-width: 100px;
            }
        }
    }
}

/* contacts */
#contacts {
    padding: 40px 0;
    & .row {
        padding: 5px 0;
    }
    & a, span, i {
        font-size: 19px;
    }
    & i {
        padding: 5px;
        color: @accent-color;
    }
}

/* sent */
#sent {
    & p {
        padding: 15px;
        margin-top: 10px;
    }
}

/* modal */
#modal, #modalQuestion {
    padding: 20px;
    max-width: 360px;
    margin: auto;
    position: relative;
    border-radius: 3px;
    background: #fff;
    & .modalTitle {
        text-align: center;
        padding: 15px;
        line-height: 24px!important;
        font-weight: bold;
    }
    & .modalSubtitle {
        font-size: 13px;
        padding: 0 30px;
        line-height: 15px!important;
        font-family: sans-serif;
        opacity: 0.5;
    }
    & .btnBlock {
        & .btn {
            margin-top: 15px;
            background-color: #414245;
            color: #fff;
            border-radius: 0;
            border: none;
            box-shadow: none;
            font-size: 14px;
            font-weight: 700;
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            padding: 20px 50px;
            &:hover {
                background: darken(@footer-color, 2%);
            }
        }
    }
    & textarea {
        white-space: pre-line;
        line-height: 24px!important;
    }
}

/* media */
@media(max-width: @to-xl) {
    #offer {
        & h1 {
            padding: 0 10px 0 40px;
            font-size: 53px;
            line-height: 57px;
        }
    }
    .navigation {
        & ul {
            & li {
                & a {
                    padding: 23px 6px;
                }
            }
        }
        & .name {
            font-size: 17px;
            padding: 22px 0px;
        }
        & .fa {
            font-size: 17px;
            padding: 28px 0 0 5px;
        }
    }
}

@media(max-width: @to-lg) {
     #offer {
        & h1 {
            padding: 0 10px 0 20px;
            font-size: 48px;
        }
         & .btn {
             margin: 40px 0 0 20px;
         }
    }
    #aboutMe {
        padding: 40px 0px 20px;
    }
    #problems {
        padding: 0 15px;
        margin: 0 0 40px;
        & img {
            display: none;
        }
    }
    #steps {
        padding: 20px 0px;
    }
    h2 {
        font-size: 24px!important;
        line-height: 34px!important;
    }
    .navigation {
        & ul {
            padding: 15px 0;
            & li {
                display: block!important;
                & a {
                    padding: 8px 17px;
                }
            }
        }
    }
    #offer {
        & h1 {
            font-size: 53px;
        }
    }
    #reviews {
        padding: 40px 0px;
    }
    #order-now {
        & .btn-container {
            margin-top: 30px;
            text-align: center;
        }
    }
    #blog {
        & .grid {
            & figure {
                margin: 0 auto;
                float: none;
            }
        }
    }
}

@media(max-width: @to-md) {
    #problems, #steps {
        padding: 20px 0px;
    }
    .navigation {
        & .name, .icons {
            text-align: center!important;
        }
        & .fa {
            padding: 0 5px!important;
        }
    }
    #offer {
        padding: 53px 0px;;
        & h1 {
            font-size: 25px;
            line-height: 41px;
            padding-right: 70px;
            text-align: left;
        }
        & .btn {
           
        }
    }
    #faq {
        padding: 40px 0px;
    }
    #post {
        padding: 40px 0;
        & img {
            max-width: 320px;
        }
    }
}

@media(max-width: @to-sm) {
    header {
        & .logo-bar {
            padding: 15px 0px;
            & .logo {
                & img {
                    max-width: 170px;
                }
            }
        }
    }
    .navigation {
        & .name {
            padding: 10px 0;
        }
        & ul {
            padding: 0;
            & li {
                & a {
                    padding: 2px 17px;
                }
            }
        }
    }
    #offer {
        padding: 10px 0px 230px;
        & h1 {
            padding-right: 0;
            line-height: 32px;
        }
        & .btn {
            margin-top: 13px;
            padding: 10px;
            font-size: 11px;
            max-width: 191px;
            position: relative;
            top: 76px;
        }
    }
    #problems {
        & ul {
            padding: 0 20px;
        }
    }
    #advantages {
        & a {
            font-size: 16px;
        }
    }
    footer {
        & .contacts > div {
            margin: 0;
        }
    }
    #blog {
        padding: 40px 0;
        & .grid {
            & h2 {
                font-size: 16px!important;
                line-height: 20px!important;
            }
            & p {
                font-size: 43.5%;
                line-height: 12px!important
            }
        }
    }
    #post {
        padding: 40px 0;
        & img {
            display: block!important;
            width: 100%!important;
            max-width: 260px!important;
            float: none!important;
            margin: 10px auto!important;
        }
    }
}

