@accent-color: #614157;
@hover-color: #715468;
@footer-color: #414245;
@text-color: #555;
@title-font: 'Montserrat', sans-serif;
@to-xl: 1200px;
@to-lg: 992px;
@to-md: 768px;
@to-sm: 576px;

//@text-color: #838383;

@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

h1, h2 {
    color: @accent-color;
    font-family: @title-font;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
h3 {
    font-size: 18px;
    font-weight: 700;
    color: @accent-color;
    line-height: 28px;
    margin-top: 20px;
    text-transform: inherit;
    text-align: center;
}
a {
    outline: none;
    transition: all 0.5s ease;
}
p, ul li, td {
    color: @text-color;
    font-family: @title-font;
    font-size: 18px;
    line-height: 30px!important;
    font-weight: 400;
}
ul {
    margin: 0;
    padding: 0;
}
ul li, ol li {
    line-height: 1.5rem;
}
section {
    position: relative;
    & img {
        max-width: 100%;
    }
}
input[type=text] {
    width: 85%;
    height: 40px;
    font-size: 17px;
    margin: 4px auto;
    padding: 0 5%;
    display: block;
    font-family: @title-font;
    border: 1px solid #cbc9c9;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
textarea {
    width: 85%;
    font-family: @title-font;
    font-size: 17px;
    margin: 5px auto;
    padding: 10px 5%;
    display: block;
    resize: none;
    border: 1px solid #cbc9c9;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.line-through {
    position: relative;
    &:before {
        border-bottom: 2px solid red;
        position: absolute;
        top: 2px;
        content: '';
        width: 100%;
        height: 50%;
        transform: rotate(-12deg);
    }
}
& .red-text {
    color: red;
}

/* header */
.logo-bar {
    padding: 35px 0px;
    & a {
        color: @text-color;
    }
    & .logo {
        & img {
            max-width: 260px;
        }
    }
}
.accent-bg {
    background-color: @accent-color;
}
.navigation {
    & #nav-btn {
        display: none;
        font-size: 30px!important;
    }
    & .nav {
        display: block;
        & li {
            transition: all 0.5s ease;
            & a {
                color: #fff;
                display: block;
                padding: 23px 16px;
                text-transform: uppercase;
                text-decoration: none;
                font-weight: 700;
                font-size: 13px;
                font-family: @title-font;
                &:hover {
                    background-color: @hover-color;
                }
            }
            & .not-link {
                cursor: default;
                position: relative;
                &:hover {
                    background-color: @accent-color;
                    color: #fff;
                }
            }
        }
        & .subnav {
            position: absolute;
            top: 76px;
            left: -41px;
            display: none;
            z-index: 10000;
            & li {
                display: block;
                padding: 0;
                margin: 0;
                background-color: @accent-color;
                & a {
                    margin: 0;
                    padding: 10px 15px 0;
                    &:last-child {
                        padding: 10px 15px 15px;
                    }
                    &:hover {
                        background-color: @hover-color;
                    }
                }
            }
        }
    }
    & .name {
        color: #fff;
        font-weight: bold;
        font-size: 19px;
        font-family: @title-font;
        padding: 19px 0px;
    }
    & .fa {
        color: #fff;
        padding: 26px 0 0 10px;
        font-size: 19px;
        cursor: pointer;
    }
    & .icons {
        & a, a:hover {
            text-decoration: none;
            outline: none;
        }
    }
}

/* offer */
#offer {
    background-image: url(../img/offer-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 180px 0px;
    & h1 {
        padding: 0 40px;
        margin: 0 0 30px;
        text-align: left;
        font-size: 53px;
        line-height: 57px;
        color: #fff;
        text-shadow: 2px 2px 5px #000;
    }
    & h2 {
        color: @accent-color;
        font-size: 20px;
        padding: 20px 0;
    }
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.1);
    }
    & form {
        background: rgba(255,255,255,.8);
        max-width: 380px;
        border-radius: 3px;
        margin: 0 auto;
        padding: 15px;
        position: relative;
        & .tip {
            display: none;
            position: absolute;
            z-index: 9998;
            top: 126px;
            left: 100%;
            background: rgba(97, 65, 87, 0.95);
            border-radius: 3px;
            box-shadow: 5px 5px 0.5em -0.1em rgba(0, 0, 6, .5);
            text-align: left;
            opacity: .9;
            cursor: default;
            padding: 5px;
            margin: -15px 0 0 -25px;
            width: 130px;
            min-height: 50px;
            height: auto;
            & ul {
                list-style-type: none;
                padding: 10px;
                & li {
                    color: #fff;
                    &:nth-child(2) {
                        position: relative;
                        &::before {
                            content: '~';
                            position: absolute;
                            left: -31px;
                            font-weight: bold;
                            font-size: 25px;
                            color: @accent-color;
                        }
                    }
                }
            }
        }
    }
    .btn {
        margin: 25px auto 10px;
        background-color: transparent;
        color: @accent-color;
        border-radius: 3px;
        border: 2px solid @accent-color;
        box-shadow: none;
        font-size: 14px;
        font-weight: 700;
        font-family: @title-font;
        text-transform: uppercase;
        padding: 15px;
        display: block;
        width: 200px;
        transition: all 0.5s ease;
        &:hover {
            color: #fff;
            background: @accent-color;
        }
    }
}

/* aboutMe */
#aboutMe {
    padding: 80px 0px 0;
    text-align: center;
    & h2 {
        font-size: 36px;
        line-height: 46px;
    }
    & ul {
        margin-left: 50px;
    }
    & .description {
        p {
            margin-top: 25px;
            font-size: 18px;
            line-height: 30px;
        }
    }
}

/* advantages */
#advantages {
    padding: 80px 0 0;
    & .advantage:nth-child(1n) {
        & img {
            width: 80px;
            float: left;
            margin: 30px;
        }
    }
    & .advantage:nth-child(2n) {
        & img {
            width: 80px;
            float: right;
            margin: 30px;
        }
    }
    & .advantage {
        margin-top: 20px;
    }
    & a {
        font-family: @title-font;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
        margin: 20px 0;
    }
}

/* steps */
#steps {
    padding: 80px 0px 40px;
    & .step {
        margin-top: 20px;
        padding: 20px;
    }
    & ul {
        margin: -15px 0 40px;
        list-style: none;
    }
    & p, li {
        
    }
    & .desc {
        color: @text-color;
        padding: 30px 15px;
    }
    & img {
        transition: all 0.5s ease;
        &:hover {
            opacity: .85;
        }
    }
}

/* order-now */
#order-now {
    padding: 80px 0px;
    background: @accent-color;
    padding: 45px 0px;
    border-bottom: none;
    & blockquote {
        color: #fff;
        font-size: 25px;
        font-weight: bold;
    }
    & .btn-container {
        text-align: right;
    }
    & a {
        display: inline-block;
        margin-bottom: 5px;
        background-color: #fff;
        color: @footer-color;
        border-radius: 3px;
        border: none;
        box-shadow: none;
        font-size: 22px;
        font-weight: 700;
        font-family: @title-font;
        text-transform: uppercase;
        padding: 15px 40px;
        text-decoration: none;
    }
}

/* faq */
#faq {
    padding: 80px 0px;
    & .btn-link, .card-body {
        font-family: @title-font;
        font-size: 18px;
        line-height: 30px!important;
    }
    & .btn-link {
        text-align: left;
        white-space: normal;
    }
    & .card-body {
        color: @text-color;
    }
}

/* footer */
footer {
    background: #fff;
    & .social-block {
        width: 100%;
        display: flex;
        flex-direction: row;
        & .social {
            width: calc(100%/3);
            & a {
                color: #fff;
                display: block;
                padding-top: 40px;
                padding-bottom: 40px;
                font-size: 30px;
                text-align: center;
            }
        } 
        & .social:nth-child(1),
          .social:nth-child(3) {
            transition: all 0.5s ease;
            background: @accent-color;
            &:hover {
                background: #816779;  
            }
        }
        & .social:nth-child(2) {
            background: @hover-color;
        }
    }
    & .contacts {
        padding: 80px 0px;
        & > div {
            width: 100%;
        }
        & .logo {
            & img {
                max-width: 250px;
            }
        }
        & p {
            color: #8b8c8d;
            font-weight: 500;
            margin-top: 25px;
        }
        & a {
            color: #8b8c8d;
        }
    }
}

/* blog */
#blog {
    padding: 80px 0;
    & .grid {
        margin: 0;
        padding: 0;
        & figure {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            min-width: 275px;
            min-height: 300px;
            border: 1px solid #fff;
            & img {
                opacity: 0.7;
            }
        }
        & h2, p {
            color: #fff;
        }
        & h2 {
            margin: 10% 0 10px 0
        }
        & p {
            line-height: 20px!important;
            padding: 0;
        }
    }
}

/* post */
#post {
    padding: 80px 0;
    font-family: @title-font;
    color: @text-color;
    & strong {
        font-weight: bold;
    }
    & .btn {
        margin: 25px auto 10px;
        background-color: transparent;
        color: @accent-color;
        border-radius: 3px;
        border: 2px solid @accent-color;
        box-shadow: none;
        font-size: 14px;
        font-weight: 700;
        font-family: @title-font;
        text-transform: uppercase;
        padding: 15px;
        display: block;
        width: 200px;
        transition: all 0.5s ease;
        &:hover {
            color: #fff;
            background: @accent-color;
        }
    }
    & p {
        padding: 0 15px;
    }
}

/* reviews */
#reviews {
    padding: 80px 0;
    & audio, iframe, .popup-gallery img {
        width: 100%;
    }
    & .popup-gallery {
        & .col {
            padding: 5px;
            & img {
                max-height: 135px;
                max-width: 150px;
                min-width: 100px;
            }
        }
    }
}

/* contacts */
#contacts {
    padding: 40px 0;
    & .row {
        padding: 5px 0;
    }
    & a, span, i {
        font-size: 19px;
    }
    & i {
        padding: 5px;
        color: @accent-color;
    }
}

/* prices */
#prices {
    padding: 80px 0;
    & h3 {
        font-size: 23px;
        margin: 20px 0 35px;
    }
    & table {
        & td, th, thead th {
            border-top: 1px solid #888;
            border-bottom: 1px solid #888;
        }
    }
    & .btnBlock {
        & .btn {
            margin: 40px auto 10px;
            background-color: transparent;
            color: @accent-color;
            border-radius: 3px;
            border: 2px solid @accent-color;
            box-shadow: none;
            font-size: 14px;
            font-weight: 700;
            font-family: @title-font;
            text-transform: uppercase;
            padding: 15px 10px;
            display: block;
            width: 290px;
            transition: all 0.5s ease;
            &:hover {
                color: #fff;
                background: @accent-color;
            }
        }
    }
}

/* sent */
#sent {
    & p {
        padding: 15px;
        margin-top: 10px;
    }
}

/* modal */
#modal, #modalQuestion {
    padding: 20px;
    max-width: 360px;
    margin: auto;
    position: relative;
    border-radius: 3px;
    background: #fff;
    & .modalTitle {
        color: @accent-color;
        text-align: center;
        padding: 15px;
        line-height: 24px!important;
        font-weight: bold;
    }
    & .modalSubtitle {
        font-size: 13px;
        padding: 0 30px;
        line-height: 15px!important;
        font-family: sans-serif;
        opacity: 0.5;
    }
    & .btnBlock {
        & .btn {
            margin: 25px auto 10px;
            background-color: transparent;
            color: @accent-color;
            border-radius: 3px;
            border: 2px solid @accent-color;
            box-shadow: none;
            font-size: 14px;
            font-weight: 700;
            font-family: @title-font;
            text-transform: uppercase;
            padding: 15px;
            display: block;
            width: 200px;
            transition: all 0.5s ease;
            &:hover {
                color: #fff;
                background: @accent-color;
            }
        }
    }
    & textarea {
        white-space: pre-line;
        line-height: 24px!important;
    }
}

/* confidentiality */
#confidentiality {
    position: relative;
    background: #fff;
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 3px;
    font-family: @title-font;
    & .title {
        font-weight: bold;
        text-align: center;
        color: @accent-color;
        display: block;
        margin: 10px 0;
    }
    & .text {
        color: @text-color;
    }
}

/* copyright */
#copyright {
    opacity: .6;
}

/* media */
@media(max-width: @to-xl) {
    #offer {
        & h1 {
            padding: 0 10px 0 40px;
            font-size: 53px;
            line-height: 57px;
        }
    }
    .navigation {
        & .nav {
            & li {
                & a {
                    padding: 23px 7px;
                }
            }
        }
        & .name {
            font-size: 17px;
            padding: 22px 0px;
        }
        & .fa {
            font-size: 17px;
            padding: 28px 0 0 5px;
        }
    }
}

@media(max-width: @to-lg) {
    #offer {
        padding: 100px 0px;          
        & h1 {
            padding: 0 10px 0 20px;
            font-size: 48px;
        }
    }
    #aboutMe {
        padding: 40px 0px 20px;
    }
    #steps {
        padding: 20px 0px;
    }
    .navigation {
        & #nav-btn {
            display: block;
        }
        & .nav {
            display: none;
            padding: 15px 0;
            & li {
                display: block!important;
                & a {
                    padding: 8px 17px;
                }
            }
        }
    }
    #offer {
        & h1 {
            font-size: 53px;
        }
    }
    #reviews {
        padding: 40px 0px;
    }
    #order-now {
        & .btn-container {
            margin-top: 30px;
            text-align: center;
        }
    }
    #blog {
        & .grid {
            & figure {
                margin: 0 auto;
                float: none;
            }
        }
    }
    #prices {
        padding: 20px 0px;
    }
}

@media(max-width: @to-md) {
    #steps {
        padding: 20px 0px;
    }
    .navigation {
        & #nav-btn {
            margin: 25px 0;
        }
        & .nav {
            padding: 0 0 15px;
            margin-top: -15px;
        }
        & .name, .icons {
            text-align: center!important;
        }
        & .fa {
            padding: 0 5px!important;
        }
    }
    #offer {
        padding: 53px 0px;
        background-position: 32%;
        & h1 {
            font-size: 30px;
            line-height: 41px;
            padding-right: 70px;
            text-align: left;
        }
        & form {
            margin: 0 20px;
        }
    }
    #faq {
        padding: 40px 0px;
    }
    #post {
        padding: 40px 0;
        & img {
            max-width: 320px;
        }
    }
}

@media(max-width: @to-sm) {
    header {
        & .logo-bar {
            padding: 15px 0px;
            & .logo {
                & img {
                    max-width: 170px;
                }
            }
        }
    }
    .navigation {
        & .name {
            padding: 10px 0;
        }
        & ul {
            padding: 0;
            & li {
                & a {
                    padding: 2px 17px;
                }
            }
        }
    }
    #offer {
        padding: 40px 0px 50px;
        background-position: 30% -13px;
        & h1 {
            text-align: center;
            padding: 0;
            font-size: 23px;
            line-height: 32px;
            margin-bottom: 100px;
        }
        & form {
            display: none;
        }
        .btn.popup {
            color: @accent-color;
            background: #fff;
            border: none;
            padding: 15px 0;
            width: 230px;
            margin: 70px 20px 100px;
        }
    }
    #advantages {
        & a {
            font-size: 16px;
        }
    }
    footer {
        & .contacts > div {
            margin: 0;
        }
    }
    #blog {
        padding: 40px 0;
        & .grid {
            & h2 {
                font-size: 16px!important;
                line-height: 20px!important;
            }
            & p {
                font-size: 43.5%;
                line-height: 12px!important
            }
        }
    }
    #post {
        padding: 40px 0;
        & img {
            display: block!important;
            width: 100%!important;
            max-width: 260px!important;
            float: none!important;
            margin: 10px auto!important;
        }
    }
}

