<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="yandex-verification" content="21a1bfa294ab0cbf" />
        <meta name="google-site-verification" content="VLGDZRZjNLGoZr7A2yC1QHGP42IBo-8CGMFYyIUpyeQ" />
        <link href="http://marina-chernousova.ru/" rel="canonical">
        <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,500,700" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet/less" href="{% static 'less/main.less' %}">
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.0/less.min.js" ></script>

        <title>Психолог Онлайн</title>
        <meta name="keywords" content="Психолог онлайн, Психолог по скайпу">
        <meta name="description" content="Решение психологической проблемы онлайн.">
        <meta property="og:locale" content="ru_RU"/>
        <meta property="og:type" content="product"/>
        <meta property="og:title" content="Психолог Марина Черноусова"/>
        <meta property="og:description" content="Решение психологических проблем: быстро, анонимно, по Скайпу."/>
        <meta property="og:image" content="{% static 'img/marina-chernousova.jpg' %}"/>
        <meta property="og:url" content="http://marina-chernousova.ru/"/>
        <meta property="og:site_name" content="Профессиональная психологическая помощь онлайн"/>
    </head>
    <body>
        <header>
            <div class="logo-bar">
                <div class="container">
                    <div class="row display-flex">
                        <div class="col-lg-4 d-none d-lg-block align-middle align-self-center">
                            <a href="mailto:chernousova.m.a@yandex.ru">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                chernousova.m.a@yandex.ru
                            </a>
                        </div>
                        <div class="col-lg-4 text-center">
                            <a href="/" class="logo">
                                <img src="{% static 'img/logo.png' %}" alt="Лого">
                            </a>
                        </div>
                        <div class="col-lg-4 d-none d-lg-block text-right align-self-center">
                            <a href="https://api.whatsapp.com/send?phone=+79536933740">WhatsApp +7(953)693-37-40</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navigation accent-bg">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <div class="row justify-content-end">
                                <div class="col-sm-12 col-md-11">
                                    <div class="name">Марина Черноусова</div>
                                </div>
                            </div>
                        </div>
                        <div class="d-md-none col-sm-12 text-center">
                             <a href="https://vk.com/transformazia9" target="_blank">
                                 <i class="fa fa-vk" aria-hidden="true"></i>
                             </a>
                             <a href="https://www.instagram.com/chernousova.marina/" target="_blank">
                                 <i class="fa fa-instagram" aria-hidden="true"></i>
                             </a>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-6 text-center">
                            <i id="nav-btn" class="fa fa-bars" aria-hidden="true"></i>
                            <ul class="nav">
                                <li class="d-inline-block">
                                    <a href="{% url 'main' %}">главная</a>
                                </li>
<!--
                                <li class="d-inline-block position-relative">
                                    <a class="not-link">услуги</a>
                                    <ul class="subnav">
                                        <li>
                                            <a href="#">здоровье</a>
                                        </li>
                                        <li>
                                            <a href="#">отношения</a>
                                        </li>
                                        <li>
                                            <a href="#">деньги</a>
                                        </li>
                                        <li>
                                            <a href="#">предназначение</a>
                                        </li>
                                    </ul>
                                </li>
-->
                                <li class="d-inline-block">
                                    <a href="{% url 'prices' %}">цены</a>
                                </li>
                                <li class="d-inline-block">
                                    <a href="{% url 'reviews' %}">отзывы</a>
                                </li>
                                <li class="d-inline-block">
                                    <a href="{% url 'post_list' %}">блог</a>
                                </li>
                                <li class="d-inline-block">
                                    <a href="{% url 'contacts' %}">контакты</a>
                                </li>
                            </ul>
                        </div>
                         <div class="d-none d-md-block col-md-4 col-lg-3 icons">
                            <div class="row justify-content-start">
                                <div class="col-md-11 text-right">
                                     <a href="https://vk.com/transformazia9" target="_blank">
                                         <i class="fa fa-vk" aria-hidden="true"></i>
                                     </a>
                                     <a href="https://www.instagram.com/chernousova.marina/" target="_blank">
                                         <i class="fa fa-instagram" aria-hidden="true"></i>
                                     </a>
                                </div>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </header>
        
                {% block content %}
                {% endblock %}
                
        <footer>
            <div class="social-block">
                <div class="social">
                    <a href="https://vk.com/transformazia9" target="_blank">
                        <i class="fa fa-vk" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="social">
                    <a href="https://www.instagram.com/chernousova.marina/" target="_blank">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="social">
                     <a href="mailto:chernousova.m.a@yandex.ru">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="container contacts">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center">
                        <a href="/" class="logo">
                            <img src="{% static 'img/logo.png' %}" alt="Лого">
                        </a>
                        <p>
                            <a href="https://api.whatsapp.com/send?phone=+79536933740">WhatsApp - 7(953)693-37-40</a> <br>
                            <a href="skype:zabavushka999?add">Skype - zabavushka999</a> <br>
                            <a href="#confidentiality" class="popup">Политика конфиденциальности</a>
                        </p>
                        <p id="copyright">
                            © М.А. Черноусова, 2018
                        </p>
                    </div>
                </div>
            </div>
        </footer>   
        
        <div class="d-none">
            <form id="modal" method="post" action="{% url 'send_form' %}">
                {% csrf_token %}
                <p class="modalTitle">Запись на бесплатную <br> экспресс-консультацию</p>
                <input type="text" name="name" placeholder="Ваше имя" required>
                <input type="text" name="contact" placeholder="Контактные данные">
                <p class="text-center modalSubtitle">Ваш e-mail, skype, whatsApp или ссылка на страницу ВКонтакте</p>
                <textarea name="text" cols="30" rows="5" 
                          placeholder="Краткое описание Вашей проблемы"
                          maxlength="1000"></textarea>
                <div class="text-center btnBlock">
                    <input type="submit" class="btn" value="Отправить">
                </div>
            </form>
        </div>
        
        <div class="d-none">
            <div class="hidden">
                <form id="modalQuestion" method="post" action="/send_form/">
                    {% csrf_token %}
                    <p class="modalTitle">Задать вопрос</p>
                    <input type="text" name="name" placeholder="Ваше имя" required>
                    <input type="text" name="contact" placeholder="Контактные данные">
                    <p class="text-center modalSubtitle">Ваш e-mail, skype, whatsApp или ссылка на страницу ВКонтакте</p>
                    <textarea name="text" cols="30" rows="5" 
                              placeholder="Кратко опишите Вашу проблему"
                              maxlength="1000"></textarea>
                    <div class="text-center btnBlock">
                        <input type="submit" class="btn" value="Отправить">
                    </div>
                </form>
            </div>
        </div>
        
        <div class="d-none">
            <div id="confidentiality">
                <span class="title">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</span>
                <span class="text">
                    Интернет-сайт http://marina-chernousova.ru/ (далее - Сайт) уважает ваше право и соблюдает конфиденциальность при заполнении, передаче и хранении ваших конфиденциальных сведений. Размещение заявки на Сайте означает Ваше согласие на обработку данных. <br>
                    Лица, заполнившие сведения, составляющие персональные данные на данном сайте, а также разместившие иную информацию обозначенными действиями подтверждают свое согласие на обработку персональных данных и их передачу оператору обработки персональных данных. <br>
                    Под персональными данными Гражданина понимается нижеуказанная информация: имя, телефон, адрес электронной почты и иные данные, относимые Федеральным законом от 27 июля 2006 года № 152-ФЗ «О персональных данных» (далее – «Закон») к категории персональных данных. <br>
                    Гражданин, принимая настоящее Соглашение, выражают свою заинтересованность и полное согласие, что обработка их персональных данных может включать в себя следующие действия: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование. <br>
                    Гражданин гарантирует: информация, им предоставленная, является полной, точной и достоверной; <br>
                    при предоставлении информации не нарушается действующее законодательство Российской Федерации, законные права и интересы третьих лиц; <br>
                    вся предоставленная информация заполнена Гражданином в отношении себя лично. <br>
                    В случае отзыва согласия на обработку своих персональных данных мы обязуемся удалить Ваши персональные данные в срок не позднее 3 рабочих дней.<br>
                    Отзыв согласия можно отправить в электронном виде по адресу: chernousova.m.a@yandex.ru
                </span>
            </div>
        </div>
        
        <link rel="stylesheet" href="{% static 'css/set2.css' %}" type="text/css" media="all">
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
        <script
			  src="http://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
                crossorigin="anonymous"></script>
        <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>

        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter48843956 = new Ya.Metrika({
                            id:48843956,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true,
                            webvisor:true
                        });
                    } catch(e) { }
                });

                var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = "https://mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/48843956" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
        
    </body>
</html>