<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="yandex-verification" content="21a1bfa294ab0cbf" />
        <meta name="google-site-verification" content="VLGDZRZjNLGoZr7A2yC1QHGP42IBo-8CGMFYyIUpyeQ" />
        <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,500,700" rel="stylesheet"> 
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet/less" href="{% static 'less/main.less' %}">
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.0/less.min.js" ></script>
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter48843956 = new Ya.Metrika({
                            id:48843956,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true,
                            webvisor:true
                        });
                    } catch(e) { }
                });

                var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = "https://mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/48843956" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->

        <title>
            Психолог Онлайн
        </title>
    </head>
    <body>
        <div class="wrapper {% if page == 'main' %} mainBg {% endif %}">
            <header class="{% if page != 'main' %} pageBg {% endif %}">
                <div id="topLine">
                    <a href="/">
                        <div class="brandName">Скорая Помощь Душе</div>
                    </a>
                </div>
                <nav id="menu">
                    <ul id="menuLinks">
                        <li>
                            <a href="{% url 'main' %}" class="{% if page == 'main' %} active {% endif %}">Главная</a>
                        </li>
                        <li>
                            <a href="{% url 'services' %}" class="{% if page == 'services' %} active {% endif %}">Услуги</a>
                        </li>
                        <li>
                            <a href="{% url 'post_list' %}" class="{% if page == 'blog' %} active {% endif %}">Блог</a>
                        </li>
                        <li>
                            <a href="{% url 'reviews' %}" class="{% if page == 'reviews' %} active {% endif %}">Отзывы</a>
                        </li>
                        <li>
                            <a href="{% url 'contacts' %}" class="{% if page == 'contacts' %} active {% endif %}">Контакты</a>
                        </li>
                    </ul>
                </nav>
                <div id="mobile">
                    <input type="checkbox" id="burger">
                    <label for="burger" class="label"></label>
                    <nav id="menuMobile">
                        <li>
                            <a href="{% url 'main' %}" class="{% if page == 'main' %} active {% endif %}">Главная</a>
                        </li>
                        <li>
                            <a href="{% url 'services' %}" class="{% if page == 'services' %} active {% endif %}">Услуги</a>
                        </li>
                        <li>
                            <a href="{% url 'post_list' %}" class="{% if page == 'blog' %} active {% endif %}">Блог</a>
                        </li>
                        <li>
                            <a href="{% url 'reviews' %}" class="{% if page == 'reviews' %} active {% endif %}">Отзывы</a>
                        </li>
                        <li>
                            <a href="{% url 'contacts' %}" class="{% if page == 'contacts' %} active {% endif %}">Контакты</a>
                        </li>
                    </nav>
                </div>
            </header>
            <main>
                {% block content %}
                {% endblock %}
            </main>
            <footer>
                <p>marina-chernousova.ru</p>
                <a href=".confidentiality" class="popup">Политика конфиденциальности</a>
            </footer>
        </div>
        
        <div class="hidden">
            <form id="modal" method="post">
                <p class="modalTitle">Запись на консультацию</p>
                <input type="text" name="name" placeholder="Ваше имя" required>
                <input type="text" name="email" placeholder="Ваш email">
                <p class="center">или</p>
                <input type="text" name="skype" placeholder="Ваш skype">
                <textarea name="" id="" cols="30" rows="5" 
                          placeholder="Кратко опишите Вашу проблему"
                          maxlength="1000"
                          ></textarea>
                <div class="btnBlock">
                    <input type="submit" class="btn" value="Отправить">
                </div>
            </form>
        </div>
        
        <div class="hidden">
            <form id="modalQuestion" method="post">
                <p class="modalTitle">Задать вопрос</p>
                <input type="text" name="name" placeholder="Ваше имя" required>
                <input type="text" name="email" placeholder="Ваш email">
                <p class="center">или</p>
                <input type="text" name="skype" placeholder="Ваш skype">
                <textarea name="" id="" cols="30" rows="5" 
                          placeholder="Ваш вопрос"
                          maxlength="1000"
                          ></textarea>
                <div class="btnBlock">
                    <input type="submit" class="btn" value="Отправить">
                </div>
            </form>
        </div>
        
        <div class="hidden">
            <div class="confidentiality">
                <span class="confidentiality__title">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</span><br>
                <span class="confidentiality__text">
                    Интернет-сайт http://marina-chernousova.ru/ (далее - Сайт) уважает ваше право и соблюдает конфиденциальность при заполнении, передаче и хранении ваших конфиденциальных сведений. Размещение заявки на Сайте означает Ваше согласие на обработку данных. <br>
                    Лица, заполнившие сведения, составляющие персональные данные на данном сайте, а также разместившие иную информацию обозначенными действиями подтверждают свое согласие на обработку персональных данных и их передачу оператору обработки персональных данных. <br>
                    Под персональными данными Гражданина понимается нижеуказанная информация: имя, телефон, адрес электронной почты и иные данные, относимые Федеральным законом от 27 июля 2006 года № 152-ФЗ «О персональных данных» (далее – «Закон») к категории персональных данных. <br>
                    Гражданин, принимая настоящее Соглашение, выражают свою заинтересованность и полное согласие, что обработка их персональных данных может включать в себя следующие действия: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование. <br>
                    Гражданин гарантирует: информация, им предоставленная, является полной, точной и достоверной; <br>
                    при предоставлении информации не нарушается действующее законодательство Российской Федерации, законные права и интересы третьих лиц; <br>
                    вся предоставленная информация заполнена Гражданином в отношении себя лично. <br>
                    В случае отзыва согласия на обработку своих персональных данных мы обязуемся удалить Ваши персональные данные в срок не позднее 3 рабочих дней.<br>
                    Отзыв согласия можно отправить в электронном виде по адресу: chernousova.m.a@yandex.ru
                </span>
            </div>
        </div>
        
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
        <script
			  src="http://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous">
        </script>
        <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>

    </body>
</html>