{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

                        <div id="contacts">
                            <p class="list">
                                <img src="{% static 'img/rec_logo.jpg' %}" alt="">
                                <a href="#modal" class="bold popup">Записаться на приём</a>
                            </p>
                            <p class="list">
                                <img src="{% static 'img/mail_logo.jpg' %}" alt="">
                                <a href="mailto:89536933740@mail.ru" class="bold">Написать письмо</a>
                            </p>
                            <p class="list">
                                <img src="{% static 'img/skype_logo.jpg' %}" alt="">
                                <span class="bold">zabavushka999</span>
                            </p>
                             <p class="list">
                                <img src="{% static 'img/vk_logo.jpg' %}" alt="">
                                <a href="https://vk.com/transformazia9" target="_blank" class="bold">vk.com/transformazia9</a>
                            </p>
                            <p class="list">
                                <img src="{% static 'img/instagram_logo.jpg' %}" alt="">
                                <a href="" class="bold">marina...</a>
                            </p>
<!--
                            <p class="list">
                                <a href="" class="bold">Мой канал на YouTube</a>
                            </p>
-->
                        </div>
                        
{% endblock %}