{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
                    <div id="main">
                        <h1>Решение любой психологической проблемы за одну консультацию!</h1>
<!--                        <img src="{% static 'img/bg-mobile.jpg' %}" alt="">-->
                        <div class="aboutMe">
                            <div class="aboutMe__desc">
                                <h2>Психолог Онлайн</h2>
                                <h3>Марина Черноусова</h3>
                                <p>Человек может страдать годами, не зная, что можно КАРДИНАЛЬНО ИЗМЕНИТЬ СИТУАЦИЮ за 1,5 -2 часа, используя возможности своего подсознания и правильно выбранного психолога.</p>
                                <div class="social">
                                    <a href="https://vk.com/transformazia9" target="_blank">
                                        <img src="{% static 'img/vk.png' %}" alt="Марина Черноусова во ВКонтакте">
                                    </a>
<!--
                                    <a href="" target="_blank">
                                        <img src="{% static 'img/youtube.png' %}" alt="YouTube канал Марины Черноусовой">
                                    </a>
-->
                                    <a href="https://www.instagram.com/chernousova.marina/" target="_blank">
                                        <img src="{% static 'img/instagram.png' %}" alt="Марина Черноусова в Instagram">
                                    </a>
                                </div>
                                <div class="btnBlock">
                                    <a href="#modal" class="btn popup">Запись</a>
                                    <a href="#modalQuestion" class="btn popup">Задать вопрос</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                   
{% endblock %}