{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
        <section id="offer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-6 col-sm-8 col-xs-12">
                        <h1>Профессиональная психологическая помощь</h1>
                        <div class="text-center btnBlock d-block d-sm-none">
                            <a href="#modal" class="btn popup">Запись на бесплатную <br>экспресс-консультацию</a>
                        </div>
                        <form method="post" action="{% url 'send_form' %}">
                            <h2>Запись на бесплатную экспресс-консультацию</h2>
                            {% csrf_token %}
                            <input type="text" name="name" placeholder="Ваше имя" required>
                            <input type="text" name="contact" placeholder="Контактные данные">
                            <div class="tip">
                                <ul>
                                    <li>e-mail</li>
                                    <li>skype</li>
                                    <li>whatsApp</li>
                                    <li>VK</li>
                                </ul>
                            </div>
                            <textarea name="text" cols="30" rows="5" 
                                      placeholder="Краткое описание проблемы"
                                      maxlength="1000"></textarea>
                            <div class="text-center btnBlock">
                                <input type="submit" class="btn" value="Отправить">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="aboutMe">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <h2>Обо мне</h2>
                        <div class="description" itemscope itemType = http://schema.org/Person>
                            <meta itemprop="image" content="{% static 'img/marina-chernousova.jpg' %}">
                            <meta itemprop="email" content="chernousova.m.a@yandex.ru">
                            <p class="text-justify">
                                Здравствуйте, меня зовут <span itemprop="name">Черноусова Марина Александровна</span>. Я эксперт в области перепрограммирования человека. Часто причиной многих жизненных проблем являются блокирующие программы, которые определяют, какое у человека будет здоровье, отношение к себе, к противоположному полу, к деньгам и многое другое... Реальность заключается в том, что программы вытеснены в бессознательное. И пока человек их не видит, он не может изменить ситуацию. <span itemprop="makesOffer">Я помогу вам обнаружить и "переписать" любую блокирующую программу НА ПУТИ К УСПЕХУ.</span>
                            </p>
                            <p class="text-left">Темы, с которыми я работаю:</p>
                            <ul class="text-left">
                                <li>здоровье;</li>
                                <li>отношения;</li>
                                <li>финансы;</li>
                                <li>предназначение.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="advantages">
            <div class="container">
                <h2>Преимущества моих консультаций</h2>
                <div class="row justify-content-center">
                    <div class="col-md-6 advantage text-justify">
                        <img src="{% static 'img/advantage_1.png' %}" alt="">
                        <h3>Конкретный результат за короткий срок в достижении желаемого</h3>
                        <p>Авторская методика, которую я разработала и применяю, помогает людям изменить жизнь в короткие сроки. После такой работы ситуации, которые причиняли боль, перестают беспокоить и случаться. Проблема уходит раз и навсегда в течение 1-4 консультаций, в зависимости от глубины травмы.</p>
                    </div>
                    <div class="col-md-6 advantage text-justify">
                       <img src="{% static 'img/advantage_2.png' %}" alt="">
                        <h3>Оплата после решения проблемы</h3>
                        <p>Вы ничем не рискуете, потому что расплачиваетесь со мной после проведения консультации при условии получения необходимого результата.</p>
                        
                    </div>
                    <div class="col-md-6 advantage text-justify">
                        <img src="{% static 'img/advantage_3.png' %}" alt="">
                        <h3>Работа через интернет</h3>
                        <p>Интернет – это удобная площадка для проведения психологических консультаций. Вы можете решать свои проблемы с психологом, находясь у себя дома в комфортной и безопасной обстановке.</p>
                    </div>
                    <div class="col-md-6 advantage text-justify">
                        <img src="{% static 'img/advantage_4.png' %}" alt="">
                        <h3>Профильное образование</h3>
                        <p>Дипломированный психолог, гипнолог.
                        Мое образование: педагогическое, психологическое, ВятГГУ, ВСЭИ.
                        Мои техники: индивидуальная системная расстановка, гипноз (эриксоновский, регрессивный), сценарный анализ, арт-терапия, Дизайн Человека
                        </p>
                    </div>
                    <a href="{% url 'reviews' %}">Отзывы о моей работе >>></a>
                </div>
            </div>
        </section>
        
        <section id="steps">
            <div class="container">
                <h2>Три шага к результату</h2>
                <div class="row justify-content-around">
                    <div class="col-lg-4 step text-center">
                        <img src="{% static 'img/step_1.jpg' %}" alt="">
                        <h3>
                            1) ЭКСПРЕСС-КОНСУЛЬТАЦИЯ
                        </h3>
                        <p class="text-justify">на которой рассмотрим варианты решения проблемы и скидки.</p>
                        <p class="font-weight-bold">Продолжительность: 10-15&nbsp;минут</p>
                        <p class="font-weight-bold">Стоимость: <span class="red-text">0 рублей</span></p>
                    </div>
                    <div class="col-lg-4 step text-center">
                        <img src="{% static 'img/step_2.jpg' %}" alt="">
                        <h3>2) ПОЛНОЦЕННАЯ КОНСУЛЬТАЦИЯ</h3>
                        <p class="text-justify">на которой происходит глубинная работа по выявлению и изменению блокирующих программ в рамках заявленной темы.</p>
                        <p class="font-weight-bold">Продолжительность: 90-120&nbsp;минут</p>
                        <p class="font-weight-bold">Стоимость: 5 000 рублей</p>
                        <a href="{% url 'prices' %}">Узнать об условиях 50% скидки</a>
                    </div>
                    <div class="col-lg-4 step text-center">
                        <img src="{% static 'img/step_3.jpg' %}" alt="">
                        <h3>3) СОПРОВОЖДЕНИЕ</h3>
                        <p class="text-justify">После проведения работы я сопровождаю клиента в письменной форме для закрепления результата.</p>
                        <p class="font-weight-bold">Продолжительность: 30&nbsp;дней</p>
                        <p class="font-weight-bold price">Стоимость: <span class="line-through">3 900</span> рублей <span class="red-text">БЕСПЛАТНО</span></p>
                    </div>
                </div>
                <div class="row">
                    <p class="desc text-justify">
                        Консультация – это маленькая операция Души по выявлению глубинной причины боли (психотравмы) и ее полному устранению.
                        Заказывая консультацию,  вы покупаете <span class="font-weight-bold">программу благополучия</span> в рамках заявленной темы <span class="font-weight-bold">на всю оставшуюся жизнь</span>. 
                    </p>
                </div>
            </div>
        </section>
        
        <section id="order-now">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-10">
                        <blockquote>
                            "Никто не может вернуться назад и совершить другой старт. Но каждый может начать сегодня и прийти к другому финишу." Карл Бард
                        </blockquote>
                    </div>
                    <div class="col-md-12 col-lg-2 btn-container">
                        <a href="#modal" class="btn-primary popup">СТАРТ</a>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="faq">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                    <h2>Часто задаваемые вопросы</h2>
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Почему это столько стоит?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    Используемые на консультации методики решают проблему клиента за одну консультацию.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                        Сколько консультаций нужно?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    1-4, в зависимости от глубины проблемы.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed text-wrap" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        На сколько эффективна консультация через интернет?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    Эффективность онлайн-сеанса такая же, как при очной встрече, потому что процессе работы нужен не физический, а эмоционально-образный контакт, который легко устанавливается через видео звонок. 
                                </div>
                            </div>
                        </div>
                         <div class="card">
                            <div class="card-header" id="headingFour">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                        Какие вы можете дать гарантии, обеспечивающие полное решение моей проблемы?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordion">
                                <div class="card-body">
                                    Онлайн-сеанс так же эффективен, как и очная встреча, потому что процессе работы нужен не физический, а эмоционально-образный контакт, который легко устанавливается через видео звонок.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}