{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

                    <div id="reviews">
                        <div class="audioReviews">
                            <div class="reviews">
                                <img src="{% static 'img/kuznetsova.jpg' %}" alt="Отзыв о консультации" class="reviews__img">
                                <audio controls class="reviews__audio">
                                    <source src="{% static 'audio/kuznetsova.ogg' %}">
                                    <source src="{% static 'audio/kuznetsova.mp3' %}">
                                    Ваш браузер не пожжерживает тег audio!
                                </audio>
                            </div>
                            <div class="reviews">
                                <img src="{% static 'img/kasatina.jpg' %}" alt="Отзыв о консультации" class="reviews__img">
                                <audio controls class="reviews__audio">
                                    <source src="{% static 'audio/kasatina.ogg' %}">
                                    <source src="{% static 'audio/kasatina.mp3' %}">
                                    Ваш браузер не пожжерживает тег audio!
                                </audio>
                            </div>
                        </div>
                        <div class="videoReviews">
                            <iframe src="//vk.com/video_ext.php?oid=-156580087&id=456239017&hash=919c87b0f4bbaa22&hd=1" width="640" height="360" frameborder="0" allowfullscreen></iframe>
                            <iframe src="//vk.com/video_ext.php?oid=-156580087&id=456239019&hash=c2ddc7d6dba04970&hd=1" width="640" height="360" frameborder="0" allowfullscreen></iframe>
                            <iframe src="//vk.com/video_ext.php?oid=37616100&id=456239456&hash=d0d3b59305a88a9c&hd=1" width="640" height="360" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>        

{% endblock %}