{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

                    <div id="services">
                        <h3>Зачем нужен психолог</h3>
                        <div class="why">
                            <img src="{% static 'img/marina.jpg' %}" alt="Марина Черноусова" title="Марина Черноусова" class="why__img">
                            <div class="why__desc">
                                <p>Для того, чтобы решить проблему, её нужно осознать. Наличие проблемы означает, что человек испытывает какую-то эмоциональную боль. И эти эмоции лишают его объективности. Они как туман, в котором не видно причин происходящего. Есть только ощущение дискомфорта. Когда человека что-то тревожит, он теряет способность ясно мыслить и трезво оценивать ситуацию, потому что эмоциональное напряжение (страх, тревога, стресс, раздражение, гнев, вина, стыд...) занимает всё его внимание.</p>
                                <p>Психолог нужен для того, чтобы помочь человеку осознать, что происходит, и привести его к решению. После консультации мне часто говорят: "Я бы сам не справился. Как ловко вы разложили всё по полочкам. Теперь я понимаю причины проблемы и способы её решения". Это подтверждает то, что когда проблема случается, нужна помощь со стороны. Что бы помыть машину, надо выйти наружу. Другими словами, чтобы решить проблему, надо её осознать.
                                </p>
                            </div>
                        </div>
                        <h3>Что происходит на консультации</h3>
                        <div class="workScheme">
                            <div class="workScheme__step">
                                <p class="workScheme__title">1. Диагностика</p>
                                <div class="workScheme__item withArrow" style="z-index: 10;">
                                    <div class="workScheme__desc">
                                        <p>Выход на точку боли</p>
                                    </div>
                                    <div class="workScheme__img">
                                        <img src="{% static 'img/step_1.jpg' %}" alt="Выход на точку боли">
                                    </div>
                                </div>
                                <div class="workScheme__item withArrow" style="z-index: 9;">
                                    <div class="workScheme__desc">
                                        <p>Перемещение в момент зарождения травмы</p>
                                    </div>
                                    <div class="workScheme__img">
                                        <img src="{% static 'img/step_2.jpg' %}" alt="Перемещение в момент зарождения травмы">
                                    </div>
                                </div>
                                <div class="workScheme__item">
                                    <div class="workScheme__desc">
                                        <p>Погружение в травму, осознание разрушительного сценария</p>
                                    </div>
                                    <div class="workScheme__img">
                                        <img src="{% static 'img/step_3.jpg' %}" alt="Погружение в травму">
                                    </div>
                                </div>
                            </div>
                            <div class="workScheme__step">
                                <p class="workScheme__title">2. Коррекция</p>
                                <div class="workScheme__item withArrow" style="z-index: 10;">
                                    <div class="workScheme__desc">
                                        <p>Выход из точки боли в точку цели (желаемого состояния)</p>
                                    </div>
                                    <div class="workScheme__img">
                                        <img src="{% static 'img/step_4.jpg' %}" alt="Выход из точки боли в точку цели">
                                    </div>
                                </div>
                                <div class="workScheme__item">
                                    <div class="workScheme__desc" style="width: 100%;">
                                        <p>Формирование нового способа поведения и закрепление в нём. Замена разрушительного сценария на созидательный</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3>Цены</h3>
                        <div class="priceList">
                            <div class="priceList__type">
                                <p>Индивидуальная консультация</p>
                            </div>
                            <div class="priceList__time">
                                <p>1,5 - 2 часа</p>
                            </div>
                            <div class="priceList__cost">
                                <p class="bold">3000 р</p>
                            </div>
                        </div>
                        <div class="priceList">
                            <div class="priceList__type">
                                <p>Курс из нескольких индивидуальных консультаций</p>
                            </div>
                            <div class="priceList__time">
                                <p>2 сеанса</p>
                                <p>3 сеанса</p>
                                <p>4 сеанса</p>
                            </div>
                            <div class="priceList__cost">
                                <p class="bold">5000 р</p>
                                <p class="bold">6000 р</p>
                                <p class="bold">7000 р</p>
                            </div>
                        </div>
<!--
                        <div class="priceList">
                            <div class="priceList__type">
                                <p>Консультация семейной пары</p>
                            </div>
                            <div class="priceList__time">
                                <p>2 сеанса по 1,5 - 2 часа</p>
                            </div>
                            <div class="priceList__cost">
                                <p class="bold">5000 р</p>
                            </div>
                        </div>
-->
                        <div class="btnBlock">
                            <a href="#modal" class="btn popup">Запись</a>
                        </div>
                    </div>
                    
{% endblock %}