{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

                    <div id="services">
                        <h3>Зачем нужен психолог</h3>
                        <p>Для того, чтобы решить проблему, её нужно осознать. Наличие проблемы означает, что человек испытывает какую-то эмоциональную боль. И эти эмоции лишают его объективности. Они как туман, в котором не видно причин происходящего. Есть только ощущение дискомфорта. Когда человека что-то тревожит, он теряет способность ясно мыслить и трезво оценивать ситуацию, потому что эмоциональное напряжение (страх, тревога, стресс, раздражение, гнев, вина, стыд...) занимает всё его внимание.</p>
                        <p>Психолог нужен для того, чтобы помочь человеку осознать, что происходит, и привести его к решению. После консультации мне часто говорят: "Я бы сам не справился. Как ловко вы разложили всё по полочкам. Теперь я понимаю причины проблемы и способы её решения". Это подтверждает то, что когда проблема случается, нужна помощь со стороны. Что бы помыть машину, надо выйти наружу. Другими словами, чтобы решить проблему, надо её осознать.
                        </p>
                        <h3>Что происходит на консультации</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a interdum augue, et auctor arcu. Pellentesque faucibus quam tellus, sit amet rutrum lectus sagittis sed. Sed non ornare nunc. Vestibulum vel ex ultricies, porta mi et, ultrices massa. Fusce venenatis, lectus vel maximus dapibus, neque augue feugiat libero, pulvinar auctor ipsum diam non purus. Proin in aliquam odio. Nunc ultricies sapien vel posuere aliquet. Vivamus varius pulvinar lobortis. Aenean porttitor felis ut dictum porttitor. Quisque urna ex, rhoncus et risus eu, fermentum volutpat enim. Aenean dignissim quam a nunc porttitor efficitur. </p>
                        <h3>Схема работы</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lobortis, urna gravida aliquam sollicitudin, leo leo finibus metus, eget tincidunt augue ex in lacus. Integer tellus tellus, fringilla sed gravida ut, fringilla et augue. Maecenas egestas in neque ac ultrices. Phasellus ultricies, nibh sed placerat molestie, felis massa aliquet mauris, at convallis nisi ante quis lorem. Curabitur facilisis erat in augue tincidunt, at ultrices velit scelerisque. Morbi vel fermentum felis. Phasellus id malesuada augue, non semper orci. Nunc pretium magna neque, sed facilisis libero rhoncus lobortis. Phasellus placerat erat non interdum tempus. Integer tellus magna, sollicitudin nec interdum a, ullamcorper quis ex. </p>
                        <h3>Цены</h3>
                        <!--<div class="priceBlock ">-->
                            <!--<figure class="effect-lily">-->
                                <!--<img src="{% static 'img/service_1.jpg' %}" alt="Индивидуальная консультация">-->
                                <!--<figcaption>-->
                                    <!--<h2>Страхи</h2>-->
                                    <!--<p>Lily likes to play with crayons and pencils</p>-->
                                    <!--<a href="#">View more</a>-->
                                <!--</figcaption>			-->
                            <!--</figure>-->
                        <!--</div>-->
                    </div>
                    
{% endblock %}