{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <section id="post" itemscope itemtype="http://schema.org/Article">
        <meta itemprop="author" content="Психолог Марина Черноусова">
        <meta itemprop="datePublished" content="{{ post.create|date:'Y' }}">
        <meta itemprop="publisher" content="marina-chernousova.ru">
        <meta itemprop="headline" content="{{ post.title }}">
        <meta itemprop="image" content="{% static 'img/marina-chernousova.jpg' %}">    
        
        <meta property="og:type" content="article">
        <meta property="og:description" content="{% if post.subtitle %} {{ post.subtitle }} {% else %} Новый пост на сайте marina-chernousova.ru {% endif %}">
        <meta property="og:title" content="{{ post.title }}">
        <meta property="og:url" content="http://marina-chernousova.ru{{ request.path }}">
        <meta property="og:image" content="{{ MEDIA_URL }}{{ post.image.url }}">
        <meta property="og:content_tier" content="free">
        
        <div class="container">
            <h2 itemprop="name">{{ post.title }}</h2>
            <p class="date" itemprop="dateCreated">{{ post.create|date:"d-m-Y" }}</p>
            <div class="row">
                <div class="text" itemprop="articleBody">{{ post.text | safe }}</div>
            </div>
            <div class="row justify-content-center">
                <a class="btn" href="{% url 'post_list' %}">Назад</a>
            </div>
        </div>
    </section>
{% endblock %}