{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <section id="post" itemscope itemtype="http://schema.org/Article">
        <meta itemprop="author" content="Психолог Марина Черноусова">
        <meta itemprop="datePublished" content="{{ post.create|date:'Y' }}">
        <meta itemprop="publisher" content="marina-chernousova.ru">
        <meta itemprop="headline" content="{{ post.title }}">
        <meta itemprop="image" content="{% static 'img/marina-chernousova.jpg' %}">    
        
        <div class="container">
            <h2 itemprop="name">{{ post.title }}</h2>
            <p class="date" itemprop="dateCreated">{{ post.create|date:"d-m-Y" }}</p>
            <div class="row">
                <div class="text" itemprop="articleBody">{{ post.text | safe }}</div>
            </div>
            <div class="row justify-content-center">
                <a class="btn" href="{% url 'post_list' %}">Назад</a>
            </div>
        </div>
    </section>
{% endblock %}